.oke{
    margin: 10px;
    padding: 10px;
}

.oke2{
    margin-bottom: 30px;
    text-align: center;
    font-weight: 600;

}
.oke3{
    height:350px;
}
.oke4{
    padding: 10px;
    margin-bottom: 75px;
}
.ok{
    margin-top: 40px;
}
