* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.title{
    display: flex;
    padding: 5px;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}
.container{
    width: 100%;
    display: flex;
    background-color: rgb(255, 255, 255);
    gap: 20px;
}
.isiKeranjang{
    width: 80%;
    background-color: rgb(255, 255, 255);
}
.namaCard{
    font-weight: 500;
    display: flex;
    margin-left: 10px;
    background-color: aliceblue;
}
.detail{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.detailKanan{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.detailKiri{
    width: 100%;
    margin: 0 15px;
}
.gambar{
    margin: 5px;
    height: auto;
    width: 150px;
    background-color: aqua;
    border-radius: 5px;    
}
.pilihAksi{
    width: 100%;
    display: flex;
    justify-content:space-around;
}
.quantity{
    display: flex;
}
.cardProduk{
    font-size: smaller;
    display: flex;
    margin: 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 10px 0 rgb(154, 154, 154);
}
.produkCheckout{
    padding: 5px;
    width: 20%;
}
.cardCheckout{
    font-size:x-small;    
    padding: 5px;
    background-color: rgb(243, 243, 243);
    border-radius: 10px;
    box-shadow: 0 2px 10px 0 rgb(154, 154, 154);
}
.subTotal{
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}
.shipping{
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}
.total{
    font-weight: 700;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.checkout{
    color: aliceblue;
    font-weight: 600;
    align-items: center;
    padding: 5px 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    border-width: 0;
    background-color:rgb(7, 101, 232);
}
@media (min-width: 992px) {
    .container{
        margin: 5px 5px 5px 5px;
    }
    .cardCheckout{
        font-size: x-small;
    }
    .isiKeranjang{
        font-size: x-small;
    }
}
@media (min-width: 768px) {
    .container{
        margin: 5px 5px 5px 5px;
    }
    .cardCheckout{
        font-size: x-small;
    }
    .isiKeranjang{
        font-size: x-small;
    }
}

@media (max-width: 576px) {
    .container{
        display: block;
    }
    .produkCheckout{
        width: 100%;
    }
    .isiKeranjang{
        width: 100%;
    }
    .container{
        font-size: x-small;
    }
}